.footer {
  color: darken($theme-footer-bg, 10);
  background: $theme-footer-bg;
  padding: 5em 0;
  text-align: center;
  .title {
    font-size: 2em;
  }
  ul {
    @include span-columns(4);
    display: inline-block;
    &:last-child {
      @include omega();
    }
    li a {
      color: white;
      &:hover {
        color: darken(white, 15);
      }
    }
  }
}
