.blog {
  @include row;
  background: $card-color;
  position: relative;
  overflow: hidden;
  .first-lines {
    font-size: 1.5em;
  }
  a {
    margin: 0 !important;
  }
  img {
    max-width: 100%;
    margin: 1em 0;
    height: auto !important;
  }
}

.pagination {
  $pagination-border-color: $base-border-color;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: lighten($pagination-border-color, 10);
  $pagination-hover-background: lighten($pagination-background, 5);
  $pagination-color: $base-font-color;

  text-align: center;
  margin: 1em;
  span {
    @include transition (all 0.2s ease-in-out);
    background: $pagination-background;
    border-radius: $base-border-radius;
    border: $pagination-border;
    color: $pagination-color;
    outline: none;
    padding: ($base-spacing / 4) ($gutter / 2);
    display: inline;
    list-style: none;
    margin: 0 5px;
    &:hover,
    &:focus {
      background: $pagination-hover-background;
      color: $base-link-color;
    }

    &:active {
      background: $pagination-background;
    }
  }
}
