.block.square{style: "background: url('#{attachment_url category.random_post, :image, :fill, 500, 500}') no-repeat; background-size: cover"}
  .overlay
    .center-right.toggle
      %h1= "#{category.name}"
