.grid-items-lines
  .grid-item.grid-item-big{:href => "javascript:void(0)"}
    =render partial: "partials/grid_item", locals: { post: posts[0] }
  .grid-item.grid-item-big.square{:href => "javascript:void(0)"}
    .grid-item.nested-grid-item-big
      .block.rectangle
        .center-right.no-toggle
    .grid-item.nested-grid-item
      =render partial: "partials/grid_item", locals: { post: posts[1] }
    .grid-item.nested-grid-item
      =render partial: "partials/grid_item", locals: { post: posts[2] }
  .grid-item.grid-item-big.square{:href => "javascript:void(0)"}
    .grid-item.nested-grid-item
      =render partial: "partials/grid_item", locals: { post: posts[3] }
    .grid-item.nested-grid-item
      =render partial: "partials/grid_item", locals: { post: posts[4] }
    .grid-item.nested-grid-item-big
      .block.rectangle
        .center-right.no-toggle
  .grid-item.grid-item-big
    =render partial: "partials/grid_item", locals: { post: posts[5] }
.waypoint
  =link_to "Show More", grid_path(index: @index), remote: true
