.footer
  .container(style="margin-bottom: 0;")
    .footer-header
      .title
        %span.thin THE
        %span.fat REALISTIC
        %span.fat ORGANIZER
      %ul
        %li
          =link_to "ABOUT", about_path
        %li
          =link_to "SITE MAP", about_path
        %li
          =link_to "REPORT A PROBLEM", about_path
      %ul
        %li
          =link_to "WORK WITH ME", about_path
        %li
          =link_to "PARTNERS", about_path
        %li
          =link_to "CONTACT", about_path
      %ul
        %li
          =link_to "PINTEREST", @theme.pinterest
        %li
          =link_to "FACEBOOK", @theme.facebook
        %li
          =link_to "INSTAGRAM", @theme.instagram
