=simple_form_for [:admin, @menu_item], remote: true do |f|
  =f.input :name
  =f.input :parent_id, input_html: { value: params[:parent_id] }
  =f.input :menu_id, input_html: {value: @menu.id }
  =f.submit
